.tweets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.tweet-holder{
    height: 30vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.tweet{
    padding: 5px;
}

.tweet-view{
    height: 30vh;
    display: flex;
    align-self: top;
    flex: 0 0 auto;
    flex-direction: row;
}
.users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}
.user-holder{
    height: 32vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.user-view{
    height: 32vh;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
}
.searchbar{
    width: 15vw;
    align-self: center;
}

.user{
    padding: 5px;
}