<div *ngIf="user" class="container" fxLayout="row" fxLayout.xs="column">
  <div class="left-col" style="width: 275px; height: 300px;">
    <app-user-blurb [user]="user"></app-user-blurb>
  </div>
  <div class="main-col" fxLayout="column" fxFlex fxLayoutGap="10px" style="margin-left:10px;margin-right:10px;">
    <h2 fxFlexAlign="center">Welcome to today's drama, {{user.profile.firstName}}</h2>
    <div class="tweet-add" fxLayout="column" fxFlex="170px" fxFlex.xs="170px">
      <mat-form-field floatLabel="auto" hintLabel="(max 140 characters)">
        <textarea #input matInput maxlength="140" placeholder="Add more drama!"
          matTextareaAutosize matAutosizeMinRows="0" matAutosizeMaxRows="5"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/140</mat-hint>
      </mat-form-field>
      <!--<textarea fxFlexAlign="center" rows="2" style="min-height: 25px;min-width: 100px;" placeholder="Add more drama!"></textarea>-->
      <button mat-raised-button color="primary" fxFlexAlign="center" (click)="onClickChirp(input.value); input.value = ''">Chirp!</button>
    </div>
    <div class="feed" fxLayoutGap="10px">
      <app-tweet *ngFor="let tweet of feed" [tweet]="tweet" (tweetDeleted)="onTweetDeleted(tweet)"></app-tweet>
    </div>
  </div>
</div>
