<div [ngSwitch]="userService.getUserLogStatus()">
    <div *ngSwitchCase="false">
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="/signup" routerLinkActive="active">Sign Up</a>
            <a mat-tab-link routerLink="/login" routerLinkActive="active">Login</a>
            <a mat-tab-link routerLink="/landing" routerLinkActive="active">Landing</a>
            <a mat-tab-link routerLink="/feed" routerLinkActive="active">Feed</a>
        </nav>
    </div>
    <div *ngSwitchCase="true">
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="/landing" routerLinkActive="active">Landing</a>
            <a mat-tab-link routerLink="/feed" routerLinkActive="active">Feed</a>
            <a mat-tab-link>{{userService.getUsername()}}</a>
            <a mat-tab-link>Sign Out</a>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>

