<div *ngIf="tweet">
  <mat-card class="tweet-card">
    <mat-card-title align="center">{{tweet.author.profile.firstName + " " + tweet.author.profile.lastName}}</mat-card-title>
    <mat-card-subtitle align="center"><a mat-button color="primary">@{{tweet.author.username}}</a></mat-card-subtitle>
    <mat-card-content [innerHTML]="tweet.content | linkify"></mat-card-content>
    <mat-card-actions align="center">
      <button mat-button color="primary"><i class="material-icons">reply</i></button>
      <button mat-button color="primary"><i class="material-icons">repeat</i></button>
      <button mat-button color="primary"><i class="material-icons">favorite</i></button>
    </mat-card-actions>
    <mat-card-actions align="center">
      <button mat-raised-button color="accent">likes</button>
      <button mat-raised-button color="accent">replies</button>
      <button mat-raised-button color="accent">reposts</button>
      <button mat-raised-button color="accent" (click)="deleteTweet(tweet)">delete</button>
    </mat-card-actions>
    <mat-card-footer class="tweet-card-footer" align="center">posted: {{tweet.posted | date:'medium'}}</mat-card-footer>
  </mat-card>
</div>
