.input-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.signup-buttons{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top: 10px;
  }
  
.full-width {
    width: 100%;
  }

.signup-form{
    display: flex;
    justify-content: center;
    align-content: center;
  }

.server-error{
  padding-top: 10px;
}

