<div class="profile" fxLayout="row" fxLayout.xs="column">
  <div class="left">
    <app-user-blurb [user]="user"></app-user-blurb>
    <div>
      <div *ngIf="thisIsMyProfile" class="profile-buttons">
          <button mat-raised-button (click)="openDialogEditProfile()">Edit Profile</button>
      </div>
    </div>
  </div>
  <div class="center">
      <app-tweet class="tweet" *ngFor="let tweet of tweets" [tweet]="tweet" (tweetDeleted)="onTweetDeleted(tweet)"></app-tweet>
  </div>
  <div class="right">
    <p>space for the future</p>
  </div>
</div>
